<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandingUserinput from "./components/HandingUserinput.vue";
import AttibuteBindings from "./components/AttibuteBindings.vue";
import ConditionAndLoops from "./components/ConditionAndLoops.vue";
import FormBindings from "./components/FormBindings.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>
<template>
  <div>
    <SimpleComponent />
    <br />
    <br />
    <FormBindings />
    <br />
    <br />
    <ConditionAndLoops />
    <br />
    <br />
    <AttibuteBindings />
    <HandingUserinput />
    <!-- <HelloWorld msg="Hello"></HelloWorld> -->
    <CalComponent />
    <HelloWorldExample />
  </div>
</template>

<style scoped></style>
